.navbar-default{background-color: #797979; border-color: #FFFFFF; min-height: 10px!important; margin: 10px;}
.container-fluid{padding: 10px 50px 10px 50px;}
.header-text{font-weight: bold; margin-top: 0px; font-size: 1.6em;}
.table-striped{margin-top: 30px; margin-bottom: 30px;}
.header-subtitle{font-style: italic; font-weight: bold;}
.image-pad{padding-right: 10px; padding-top: 2px; padding-left: 25px;}
.notstarted, .queued{background-color: #777;}
.inprogress, .running{background-color: #337ab7;}
.done, .success , .completed{background-color: #5cb85c;}
.failed{background-color: #d9534f;}
.error, .wait{background-color: #f0ad4e;}
.version-pad{padding: 19px;}
.row{margin: 15px;}
.spacing{margin: 5px;padding: 7px;
}}