<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="/COMSupportScripts/images/THD_logo.png" />
    <title>COM Deployment</title>
    <script type="text/javascript" src="/COMSupportScripts/js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/COMSupportScripts/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/COMSupportScripts/js/lib/moment.js"></script>
    <script type="text/javascript" src="/COMSupportScripts/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/COMSupportScripts/js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/COMSupportScripts/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/COMSupportScripts/css/main.css"> </head>

<body>
    <div class="container-fluid">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column"> <img class="pull-left image-pad" src="/COMSupportScripts/images/THD_logo.png" alt="Home">
                <span class="pull-right version-pad"> Version 1.0</span>
                    <h3>COM Y Mode Conversion -  Sourcing Rules</h3> </div>
            </div>
            <nav class="navbar navbar-default" role="navigation"> </nav>
        </div>
    </div>
    <div class="container ng-scope" ng-app="myApp">
        <div ng-controller="BatchCtrl" ng-init="startBatch(false)">
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-lg center-block {{batchStarted}}" ng-click="startBatch(true)" ng-disabled="{{batchStarted==disabled}}">Start Batch</button>
                </div>
                <div class="col-md-5">
                    <div class="alert {{startTimeCSS}}"> <b>Batch Start Time :</b>{{startTime}}</div>
                </div>
                <div class="col-md-5">
                    <div class="alert {{endTimeCSS}}"> <b>Overall Job Status :{{endTime}}</b> </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-default" role="navigation"> </nav>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Job Name</th>
                            <th>Job ID</th>
                            <th>Job StartTime</th>
                            <th>Job EndTime</th>
                            <th class="text-center">Job Status</th>
                            <th class="text-center">Sterling Records Updated</th>
                            <th class="text-center">New Error Messages</th>
                            <th class="text-center">Validation Status</th>
                            <th class="text-center">Comments</th>
                            <th class="text-center">Logs</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="job in batchData">
                        <td>{{job.serialNo}}</td>
                        <td>{{job.jobName}}</td>
                        <td>{{job.jobId}}</td>
                        <td>{{job.jobStartTime}}</td>
                        <td>{{job.jobEndTime}}</td>
                        <td><span class="label {{job.jobStatus | lowercase}} text-center">{{job.jobStatus}}</span> </td>
                        <td class="text-center">{{job.sterlingTableCount}}</td>
                        <td class="text-center">{{job.reprocessErrorCount}}</td>
                        <td><span class="label {{job.validationStatus | lowercase}} text-center">{{job.validationStatus}}</span> </td>
                        <td>{{job.comments}}</td>
                        <td class="text-center"><a href="{{job.logFileLink}}" class="glyphicon glyphicon-circle-arrow-down" target="_self" download="{{job.logFileLink}}"></a></td>
                    </tr>
                </table>
            </div>
            <div class="row {{serviceError}}">
                <div class="col-md-12">
                    <div class="alert alert-danger text-center"> <b>Service request failed, we will retry in another 30 seconds.</b> </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-default" role="navigation"> </nav>
            </div>
        </div>
        <blockquote>
            <p>User Notes</p>
            <footer>Click "Start Batch" Button to load sourcing rules in Sterling.</footer>
            <footer>Page refreshes every 30 Seconds.</footer>
            <footer>Jobs will be running sequentially.</footer>
            <footer>Sterling Records Updated Column denotes the entries loaded into Sterling table</footer>
            <footer>New Error Messages cloumns represents the count of errors in YFS Reprocess Table for the job</footer>
            <footer>Job 5 & Job 6 Sterling Updates should match the  number of Stores Converted.</footer>
            <footer>Download the log files for more information</footer>
            <footer>For any issues. Please contact COM MultiChannel Support team</footer>
        </blockquote>
        <script type="text/javascript" src="/COMSupportScripts/js/main.js"></script>
</body>

</html>