<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/png"
	href="/COMSupportScripts/invt/images/THD_logo.png" />
<title>Inventory Mismatch</title>
<script type="text/javascript"
	src="/COMSupportScripts/invt/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="/COMSupportScripts/invt/js/lib/angular.min.js"></script>
<script type="text/javascript"
	src="/COMSupportScripts/invt/js/lib/angular-websocket.min.js"></script>
<script type="text/javascript"
	src="/COMSupportScripts/invt/js/lib/moment.js"></script>
<script type="text/javascript"
	src="/COMSupportScripts/invt/js/lib/underscore-min.js"></script>
<script type="text/javascript"
	src="/COMSupportScripts/invt/js/lib/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/COMSupportScripts/invt/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/COMSupportScripts/invt/css/main.css">
</head>
<body>
	<div class="container-fluid">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<img class="pull-left image-pad"
						src="/COMSupportScripts/invt/images/THD_logo.png" alt="Home">
					<span class="pull-right version-pad"> Version 1.0</span>
					<h3>Inventory Mismatch Report</h3>
				</div>
			</div>
			<nav class="navbar navbar-default" role="navigation"></nav>
		</div>
	</div>
	<div class="container ng-scope" ng-app="myApp">
		<div ng-controller="InvCtrl">
			<div class="row rowmap">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon">ST</span> <input type="text"
							class="form-control" placeholder="Store Number" ng-model="stnum">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"
								ng-click="addStore(stnum)">+</button>
						</span>
					</div>
				</div>
				<div class="col-md-9">
					<span class="alert alert-success spacing"
						ng-repeat="stores in storelist"> ST{{stores}}
						<button class="btn btn-default btn-xs spacing-btn" type="button"
							ng-click="removeStore(stores)">X</button>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-lg center-block"
						ng-click="startCompare()" ng-disabled="false">Compare
						Inventory</button>
				</div>
				<div class="col-md-5">
					<div class="alert">
						<b>Current Store :</b>{{liveUpdates.currentStore}}
					</div>
				</div>
				<div class="col-md-5">
					<div class="alert">
						<b>Overall Status :{{liveUpdates.overallStatus}}</b>
					</div>
				</div>
			</div>
			<div class="row">
				<nav class="navbar navbar-default" role="navigation"></nav>
			</div>
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Store Number</th>
							<th>Store SKU Count</th>
							<th>Current Status</th>
							<th>Mismatch SKU Count</th>
							<!-- <th class="text-center">Mismatch Report</th>  -->
						</tr>
					</thead>
					<tr ng-repeat="details in liveUpdates.invDataList">
						<td ng-if="details.storeNo != null">{{details.storeNo}}</td>
						<td ng-if="details.storeNo != null">{{details.storeSkuCount}}</td>
						<td ng-if="details.storeNo != null">{{details.storeStatus}}</td>
						<td ng-if="details.storeNo != null">{{details.mismatchCount}}</td>
						<!-- <td class="text-center"><a href="{{details.dataURL}}"
							class="glyphicon glyphicon-circle-arrow-down" target="_self"
							download="{{details.dataURL}}"></a></td> -->
					</tr>
				</table>
			</div>
			<!--  <div class="row {{serviceError}}">
                <div class="col-md-12">
                    <div class="alert alert-danger text-center"> <b>Service request failed, we will retry in another 30 seconds.</b> </div>
                </div>
            </div> -->
			<div class="row">
				<div ng-if="liveUpdates.summaryDataURL != null">
					<div class="text-center">
						Download Mismatch Report
						<a href class="glyphicon glyphicon-circle-arrow-down" target="_self"
								ng-click="downloadFile()">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<nav class="navbar navbar-default" role="navigation"></nav>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/COMSupportScripts/invt/js/main.js"></script>
</body>
</html>